paddlepaddle==2.6.2
paddlex==3.4.3
paddleocr==2.9.1
torch==2.11.0
torchvision==0.26.0
vietocr
fastapi==0.135.2
aistudio-sdk
albucore
modelscope
opencv-python-headless
numpy
pillow
pydantic
requests
uvicorn
scikit-image
scikit-learn
pymupdf